In [2]:
import pandas as pd
import numpy as np

# 1 hour resampling

In [ ]:
# Load the dataset
file_path = 'Data/AUD:USD/DAT_ASCII_AUDUSD_M1_2023/DAT_ASCII_AUDUSD_M1_2023.csv'

# Read the dataset
aud_usd_2023 = pd.read_csv(file_path, sep=';', header=None, names=["Date", "Open", "High", "Low", "Close", "Volume"])

# Display the first few rows to verify the structure
aud_usd_2023.head()

              Date     Open     High      Low    Close  Volume
0  20230101 173100  0.67896  0.67942  0.67896  0.67940       0
1  20230101 173200  0.67941  0.67941  0.67940  0.67940       0
2  20230101 173300  0.67941  0.67941  0.67938  0.67940       0
3  20230101 173400  0.67940  0.67941  0.67940  0.67941       0
4  20230101 173500  0.67983  0.67983  0.67983  0.67983       0

In [ ]:
# Convert the Date column into a proper datetime format
aud_usd_2023['Date'] = pd.to_datetime(aud_usd_2023['Date'], format='%Y%m%d %H%M%S')

# Display the updated dataframe structure to verify the change
aud_usd_2023.head()

                 Date     Open     High      Low    Close  Volume
0 2023-01-01 17:31:00  0.67896  0.67942  0.67896  0.67940       0
1 2023-01-01 17:32:00  0.67941  0.67941  0.67940  0.67940       0
2 2023-01-01 17:33:00  0.67941  0.67941  0.67938  0.67940       0
3 2023-01-01 17:34:00  0.67940  0.67941  0.67940  0.67941       0
4 2023-01-01 17:35:00  0.67983  0.67983  0.67983  0.67983       0

In [55]:
# Resample the data to hourly intervals
hourly_aud_usd_2023 = aud_usd_2023.resample('H', on='Date').agg({
    'Open': 'first',
    'High': 'max',
    'Low': 'min',
    'Close': 'last',
    'Volume': 'sum'
}).reset_index()

In [56]:
hourly_aud_usd_2023.head()

                 Date     Open     High      Low    Close  Volume
0 2023-01-01 17:00:00  0.67896  0.68166  0.67896  0.68166       0
1 2023-01-01 18:00:00  0.68166  0.68182  0.67930  0.68131       0
2 2023-01-01 19:00:00  0.68124  0.68147  0.67999  0.68016       0
3 2023-01-01 20:00:00  0.68014  0.68091  0.68008  0.68010       0
4 2023-01-01 21:00:00  0.68046  0.68056  0.68013  0.68040       0

In [57]:
# Export the resampled data to a CSV file
hourly_aud_usd_2023.to_csv('hourly_aud_usd_2023.csv', index=False)

## Combining Data

In [ ]:

data_2013 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2013.csv')
data_2014 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2014.csv')
data_2015 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2015.csv')
data_2016 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2016.csv')
data_2017 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2017.csv')
data_2018 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2018.csv')
data_2019 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2019.csv')
data_2020 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2020.csv')
data_2021 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2021.csv')
data_2022 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2022.csv')
data_2023 = pd.read_csv('Data/AUD:USD/hourly_aud_usd_2023.csv')


# Combine all datasets into one
combined_data = pd.concat([data_2013, data_2014, data_2015, data_2016, data_2017, data_2018, data_2019, data_2020, data_2021, data_2022, data_2023], ignore_index=True)

# Sort the combined dataset by the 'Date' column to ensure chronological order
combined_data = combined_data.sort_values(by='Date').reset_index(drop=True)

In [59]:
# drop missing values
cleaned_data = combined_data.dropna()

In [60]:
cleaned_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 67566 entries, 0 to 95873
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    67566 non-null  object
 1   Open    67566 non-null  float64
 2   High    67566 non-null  float64
 3   Low     67566 non-null  float64
 4   Close   67566 non-null  float64
 5   Volume  67566 non-null  int64
dtypes: float64(4), int64(1), object(1)
memory usage: 3.6+ MB

In [61]:
# Export the combined data to a CSV file
cleaned_data.to_csv('M60_aud_usd_combined.csv', index=False)